@import '../../assets/styles/settings';

.footer-wrapper {
    position: relative;
    top: 622px;
    bottom: 20px;
    background-color: lightgray;
    height: 200px;

    .footer-content {
        display: grid;
        grid-template-columns: 2fr 6fr 1fr;
    }


    .footer-left {
        padding: 30px 60px;
    }

    .footer-middle {
        display: flex;
        flex-direction: column;
        display: grid;
        grid-template-columns: 2fr 2fr 1fr;
        padding: 10px;
        .left {
            margin-top: 20px;
        }
     

        .footer-contacts{
            display: flex;
            flex-direction: column;
            img {
                position: relative;
                top: 22px;
                right: 25px;
            }
        }

        .footer-contacts-2 {
            display: flex;
            flex-direction: column;
            margin-top: 20px;

            .email-img {
                position: relative;
                top: 4px;
                right: 10px;
            }
            .social-media {
                display: grid;
                grid-template-columns: repeat(3,1fr);
                margin-top: 10px;
            }
            .img-1 {
                max-width: 100%;
                margin-top: 10px;
                margin-right: 15px;
            }
            .img-2 {
                max-width: 100%;
                margin-top: 15px;
            }
            .img-3 {
                max-width: 100%;
                margin-top: 15px; 
            }
        }
       
 
        a {
            display: block;
            color: #282828;
            text-decoration: none;


            &:hover {
                color: blue;
            }
        }


    }
}