@use './resets';
@import "./samples";

$lightBlue: #14bbc0;
$gray: #d4d4d4;
$gray-2: #EDEDED;

$yellow: #FFC700;
$dark: #141414;

$large-screen: 1100px;
$medium-screen: 855px;
$small-screen: 600px;

%link {
    @extend %link-style
}

%warning-btn {
    @extend %btn;
    padding: 10px 35px;
    background-color: $lightBlue;
    border: 2px solid $lightBlue;
    color: snow;

    &:active {
        transform: scale(0.8);
    }
}